body {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.main-nav {
    background-color: #666666;
    height: 50px;
}

main {
    display: flex;
    justify-content: space-around;
}

.left-content {
    flex-basis: 60%;
}
.right-arrow {
    float: right;
}
.right-arrow img {
    width: 40px;
    height: 20px;
}
.left-titles-container {
    display: flex;
    justify-content: flex-start;
    column-gap: 15px;
}
.left-titles-container .title {
    background-color: #c6c6c6;
    flex-basis: 15%;
    height: 25px;
    margin: 0;
}
.left-titles-container .title:first-child {
    background-color: #777;
}

.left-content .banner {
    flex-basis: 100%;
    height: 220px;
    margin-bottom: 20px;
    background-color: #777;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.items-list .item {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 18%;
    text-align: left;
}
.items-list .item img {
    width: 100%;
    height: 130px;
    background-color: #999;
}

.right-content {
    flex-basis: 30%;
}

.titles-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}
.titles-container .title {
    background-color: #c6c6c6;
    width: 20px;
    height: 20px;
    margin: 0px 0px 5px 0px;
}

.right-content .banner {
    height: 220px;
    background-color: #999999;
    margin-bottom: 20px;
}

.secondary-nav {
    background-color: #999999;
    height: 30px;
}

.right-items-list .item {
    margin-top: 22px;
    margin-bottom: 22px;
}
.right-items-list .item img {
    width: 70px;
    height: 70px;
    float: left;
    margin: 0px 10px 0px 0px;
}
.right-items-list .item p {
    text-align: justify;
}

.right-items-list hr {
    background-color: #b6b6b6;
    height: 2px;
}